<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_contract_root"
              name="Contracts"
              sequence="50"
              groups="contract_management.group_viewer"/>

    <menuitem id="menu_contract_all"
              name="All Contracts"
              parent="menu_contract_root"
              action="action_contract_contract"
              sequence="10"/>

    <menuitem id="menu_change_orders"
              name="Change Orders"
              parent="menu_contract_root"
              action="contract_management.action_change_order"
              sequence="20"
              groups="contract_management.group_viewer"/>

    <menuitem id="menu_revised_contracts"
              name="Revised Contracts"
              parent="menu_contract_root"
              action="contract_management.action_revised_contract"
              sequence="30"
              groups="contract_management.group_viewer"/>
</odoo>
